---
env:
  REPO_NAME: mattkobayashi
  IMAGE_NAME: fridaybot
jobs:
  image:
    name: Image
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      # Add support for more platforms with QEMU (optional)
      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      # Set up Docker Buildx
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      # Build and export image to Docker daemon
      # https://github.com/docker/build-push-action
      - name: Build and export to Docker
        id: build-export
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          load: true
          tags: "${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:test"
      # Install uuid-runtime
      - name: Install uuid-runtime
        run: |
          set -x
          sudo apt-get --no-install-recommends --yes install uuid-runtime
      # Test the built image
      - name: Test image
        run: |
          set -x
          docker container run --attach=stdout --attach=stderr --entrypoint python3 --env RUN_TESTS=true --init --rm ${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:test main.py
      - name: Execute image
        run: |
          set -x
          CONTAINER_ID="$(uuidgen)"
          docker container run --attach=stdout --attach=stderr --init --name=$CONTAINER_ID --rm ${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:test &
          sleep 10
          docker container stop $CONTAINER_ID
name: Test
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
